<div class="container">
    <h1> Add New Author</h1>
    <form action="/authors" method="POST">
        <div class="form-group">
          <label for="name">Full Name</label>
          <input type="text" class="form-control" id="name" name="name" />
          <br><br>
         </div>
        <br>
        <button type="submit" class="btn btn-primary">Add New Author</button>
      </form>
    
    </div>