<h1>Complete your email verification</h1>
<form action="/users/verify?_method=PUT" method="POST">
    <input type="email" name="username" id="username" required>
    <input type="password" name="security" id="username" required>
    <button> Veirified</button>
</form>