<br><br>
<div class="container border bg-info col-sm-6" ><br>
    <h2>Create Account</h2>
    <form  action="/users" method="POST">
      <label class="ml-6" for="name">Name:</label>
      &nbsp; <input type="text" class="col-6 ml-4 p-1" id="name" placeholder="Enter name.." name="name"><br>
      <label for="username">Username:</label>
      <input type="email" class="col-6 p-1" id="username" placeholder="Enter email.." name="username"><br>
      <label for="password">Password:</label>
      &nbsp;<input type="password" id="password" class="col-6 p-1"placeholder="Enter password" name="password"><br>
     Already Registered? <a  href="/sessions/new">Logon</a><br>
     
     
  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; <a href="/books" class="p-6 mr-4 btn btn-dark">Home Page</a> 
  <button type="submit" class="p-6 ml-4 my-4 btn btn-dark">Crate</button>
    </form>
     
  </div>
  