<div class="container border bg-info col-sm-6" ><br>
    <h1>Reset your password with email</h1>
    <form action="/users/reset?_method=PUT" method="POST">
      Email: <input type="email" class="col-6 ml-4 p-1" name="username" id="username" placeholder="Email" required> <br><br>
        <button class="p-6 ml-4 my-4 btn btn-dark"> Submit</button>
    </form>
    </div>