<div class="container border bg-info col-sm-6" ><br>
    <h1>Reset your password</h1>
    <form action="/users//resetpassword?_method=PUT" method="POST">
      Email: <input type="email" class="col-6 ml-4 p-1" name="username" id="username" placeholder="Email" required> <br><br>
      New : <input type="password"  class="col-6 ml-4 p-1" name="password" id="password" placeholder="New password" required><br><br>
       Code: <input type="password"  class="col-6 ml-4 p-1" name="security" id="username" placeholder="Security Code" required><br>
        <button class="p-6 ml-4 my-4 btn btn-dark"> Crate</button>
    </form>
    
    </div>