<h1> All Books</h1>
<a href="/books/new">Add New Book</a>
<ul>
    <% books.forEach(book => { %>
    <table>
            <tr>
            <a href="/books/<%= book.id %>"><img src="<%= book.image %>" style="height:250px;width:170px;"/></a>
           </tr><br>
            <tr>
            <a href="/books/<%= book.id %>"><%= book.title %></a>
           </tr><br><br><br>
       
    </table>

    <% }) %>
 </ul>