<br><br>
<div class="container border border-success bg-info text-black  col-md-6">
    <h1>Login</h1>
    <form action="/sessions" method="POST">
      <label for="name">Username:</label>
      <input type="text" class="p-1 m-4" name="username" required/><br>
      <label for="color">Password:</label>
      &nbsp;&nbsp;<input type="password" class="ml-2 m-2 p-1" name="password" required />
      <br>
      <input type="submit" class="p-6 ml-4 my-4 btn btn-dark" value="Login">
    <form>
      <br>
      Don't have account? <a  href="/users/new">Sign Up</a><br>
  </div>